---
import { getCollection } from "astro:content";
import PostList from "@components/blog/PostList.astro";

const unsortedPosts = await getCollection("blog");

const firstThreePosts = unsortedPosts
	.sort((a, b) => {
		return new Date(b.data.publishDate).valueOf() - new Date(a.data.publishDate).valueOf();
	})
	.slice(0, 3);
---

<div>
	<h2><span class="smallerText">Most Recent</span>{" "}<span class="biggerText">Blog Posts</span></h2>
</div>

{
	firstThreePosts.map((post) => (
		<PostList
			data={{
				title: post.data.title,
				description: post.data.description,
				publishDate: post.data.publishDate,
				tags: post.data.tags,
				slug: post.slug,
			}}
		/>
	))
}

<p><a href="/blog/" class="custombtn">View All Blog Posts</a></p>

<style lang="scss">
	@import "../../styles/base/_variables.scss";

	div {
		align-items: center;
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	h2 {
		line-height: 1;
		margin-bottom: 3rem;
		text-align: center;
	}

	.smallerText {
		@media screen and (min-width: $breakpoint-sm) {
			display: block;
			font-size: 1.25rem;
			font-weight: var(--fw-normal);
			margin-bottom: 1rem;
		}
	}

	.biggerText {
		@media screen and (min-width: $breakpoint-sm) {
			box-shadow: inset 0 -0.5em 0 #868b9f;
			display: block;
			font-size: 4rem;
			font-weight: var(--fw-bold);
			padding-right: 1rem;
			padding-left: 1rem;
			text-transform: uppercase;
			width: max-content;
		}
	}

	p {
		margin-top: 3rem;
		margin-bottom: 0;
	}
</style>
