---
import ContactIcons from "../ContactIcons.astro";
---

<div>
	<img src="/images/components/homepageIntro/wordmark-circle-rotated-navy-50percentopacity-173x173px.png" alt="PM wordmark in circle rotated at an angle" width="100" height="100" />
	<h1>
		<span class="start">Hi, I'm</span>
		<span class="middle">Peter Morgan</span>
		<span class="end">Web Developer</span>
	</h1>

	<p>Solving technical problems and writing code by day. <a href="https://djpetermorgan.com">Mixing electronic music</a>, playing computer/tabletop <a href="https://toukana.com/dorfromantik/" title="This links to the homepage for Dorformantik: a great indie game for PC (and soon Nintendo Switch) that I have played recently.">games</a>, and <a href="/tag/changelog/" title="Blog posts tagged with Changelog highlighting what I am working on and learning about.">lifelong learner</a> by night. Welcome to my small corner of the internet.</p>
	<ContactIcons mode="dark" />
</div>

<style>
	div {
		margin-bottom: 6rem;
		position: relative;
		text-align: center;
	}

	h1 {
		margin-bottom: 3rem;
	}

	img {
		display: none;
		position: absolute;
		top: -60px;
		right: 0;
		width: 100px;
		height: 100px;
	}

	@media screen and (min-width: 576px) {
		img {
			display: block;
		}
	}

	p {
		margin-bottom: 1.5rem;
	}

	.start,
	.middle,
	.end {
		display: block;
	}

	.start,
	.middle {
		margin-bottom: 1rem;
	}

	.middle {
		text-transform: uppercase;
	}

	.end {
		font-weight: var(--fw-normal);
	}

	@media screen and (min-width: 768px) {
		p {
			padding-left: 1.5rem;
			padding-right: 1.5rem;
		}

		.start,
		.middle,
		.end {
			line-height: 1;
		}

		.start,
		.end {
			font-size: 3rem;
		}

		.middle {
			font-size: 5rem;
		}
	}
</style>
