---
import ContactIcons from "../ContactIcons.astro";
---

<div class="col-12 col-lg-10 col-xl-8 mb-6r">
	<h1>Peter Morgan</h1>

	<p class="text-center mb-0">
		<ContactIcons mode="dark" />
	</p>
</div>

<style lang="scss">
	h1 {
		margin-bottom: 3rem;
		text-align: center;
	}
</style>
