---
import ContactIcons from "../ContactIcons.astro";
---

<div class="col-12 col-lg-10 col-xl-8 mb-6r text-center position-relative">
	<img src="/components/homepageIntro/wordmark-circle-rotated-navy-50percentopacity-173x173px.png" alt="PM wordmark in circle rotated at an angle" class="wordmark" />
	<h1>
		<span class="start">Hi, I'm</span>
		<span class="middle">Peter Morgan</span>
		<span class="end">Web Developer</span>
	</h1>

	<p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel.</p>
	<p class="mb-0">
		<ContactIcons mode="dark" />
	</p>
</div>

<style lang="scss">
	.wordmark {
		position: absolute;
		top: -60px;
		right: 0;
		width: 100px;
		height: 100px;
	}

	h1 {
		margin-bottom: 3rem;
	}

	.start,
	.middle,
	.end {
		display: block;
		line-height: 1;
	}

	.start,
	.middle {
		margin-bottom: 1rem;
	}

	.start,
	.end {
		font-size: 3rem;
	}

	.middle {
		font-size: 5rem;
		text-transform: uppercase;
	}

	.end {
		font-weight: 400;
	}
</style>
