h1 {
	font-weight: var(--fw-bold);

	@media screen and (min-width: $breakpoint-sm) {
		font-size: var(--fs-h1-desktop);
	}
}

h2 {
	font-weight: var(--fw-bold);

	@media screen and (min-width: $breakpoint-sm) {
		font-size: var(--fs-h2-desktop);
	}
}

h3 {
	font-weight: var(--fw-normal);

	@media screen and (min-width: $breakpoint-sm) {
		font-size: var(--fs-h3-desktop);
	}
}

.small-heading {
	font-size: 1.25rem;
	font-weight: var(--fw-normal);
}