.fontsize {
	&-h1 {
		@media screen and (min-width: $breakpoint-sm) {
			font-size: var(--fs-h1-desktop);
		}
	}

	&-h2 {
		@media screen and (min-width: $breakpoint-sm) {
			font-size: var(--fs-h2-desktop);
		}
	}

	&-h3 {
		@media screen and (min-width: $breakpoint-sm) {
			font-size: var(--fs-h3-desktop);
		}
	}
}