body {
	color: $color-body;
	font-family: $font-special;
	font-size: $fs-body-desktop;
	font-weight: $fw-normal;
	letter-spacing: 0.025em;
	line-height: 1.5;
}

small,
.small {
	font-size: $fs-small-desktop;
}

strong {
	font-weight: $fw-bold;
}