body {
	color: var(--color-body);
	font-family: var(--font-special);
	font-weight: var(--fw-normal);
	letter-spacing: 0.025em;
	line-height: 1.5;

	@media screen and (min-width: $breakpoint-sm) {
		font-size: var(--fs-body-desktop);
	}
}

small,
.small {
	font-size: var(--fs-small-desktop);
}

strong {
	font-weight: var(--fw-bold);
}