a {
	color: black;
	text-decoration-thickness: 2px;
	text-underline-offset: .25rem;

	&:hover {
		color: inherit;
	}
}

.custombtn {
	border-radius: 0;
	border: 2px solid black;
	display: inline-block;
	padding: .75rem 1.5rem;
	text-decoration: none;
	text-transform: uppercase;

	&:hover {
		background-color: $color-blue;
		border: 2px solid $color-blue;
		color: white;
	}
}