.custombtn {
	border-radius: 0;
	border: $line-thickness solid $color-body;
	display: inline-block;
	padding: .75rem 1.5rem;
	text-decoration: none;
	text-transform: uppercase;

	&:hover {
		background-color: $color-blue;
		border: $line-thickness solid $color-blue;
		color: white;
	}
}