.custombtn {
	border-radius: 0;
	border: var(--line-thickness) solid var(--color-body);
	display: inline-block;
	padding: 0.5rem 0.75rem;
	text-decoration: none;
	text-transform: uppercase;

	@media screen and (min-width: $breakpoint-sm) {
		padding: 0.75rem 1.5rem;
	}

	&:focus,
	&:hover {
		background-color: var(--color-blue);
		border: var(--line-thickness) solid var(--color-blue);
		color: white;
	}
}