---
import BaseLayout from "@layouts/BaseLayout.astro";

const title = "404 Error";
const description = "The file or page you are trying to access cannot be found.";
---

<BaseLayout title={title} description={description}>
	<h1>{title}</h1>
	<p>{description}</p>
</BaseLayout>

<style lang="scss">
	div {
		flex-direction: column;
		text-align: center;
	}

	h1 {
		
		text-transform: uppercase;
		line-height: 1;
		margin-bottom: 6rem;
	}

	p {
		margin-bottom: 0;
	}
</style>
