---
import BaseLayout from "@layouts/BaseLayout.astro";

const title = "404 Error";
const description = "The file or page you are trying to access cannot be found.";
---

<BaseLayout title={title} description={description}>
	<div class="text-center">
		<h1 class="mb-6r">{title}</h1>

		<p class="mb-0">{description}</p>
	</div>
</BaseLayout>

<style>
	div {
		width: 100%;
	}

	h1 {
		line-height: 1;
	}
</style>
