---
import BaseLayout from "@layouts/BaseLayout.astro";

const title = "404 Error";
const description = "The file or page you are trying to access cannot be found.";
---

<BaseLayout title={title} description={description}>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 col-lg-10 col-xl-8">
				<h1>{title}</h1>
				<p>{description}</p>
			</div>
		</div>
	</div>
</BaseLayout>

<style lang="scss">
	h1 {
		text-align: center;
		text-transform: uppercase;
		line-height: 1;
		margin-bottom: 6rem;
	}

	p {
		margin-bottom: 0;
		text-align: center;
	}
</style>
