---
import BaseLayout from "@layouts/BaseLayout.astro";
import BlogPostPreview from "@components/BlogPostPreview.astro";

let title = "Blog Posts";
let description = "The perfect starter for your perfect blog.";

// Use Astro.glob to fetch all post with associated frontmatter
const unsortedPosts = await Astro.glob("../data/blog-posts/*.md");
const posts = unsortedPosts.sort(function (a, b) {
	return new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf();
});
---

<BaseLayout {title} {description}>
	<div class="container">
		<div class="row justify-content-center">
			<section aria-label="Blog post list" class="col-12 col-lg-8 col-xl-6">
				<h2 class="mb-5">Blog</h2>
				{posts.map((post) => <BlogPostPreview data={post} />)}
			</section>
		</div>
	</div>
</BaseLayout>

<style>

</style>
