---
import BaseLayout from "@layouts/BaseLayout.astro";
import BlogPostPreview from "@components/BlogPostPreview.astro";

let title = "Blog Posts";
let description = "The perfect starter for your perfect blog.";

// Use Astro.glob to fetch all post with associated frontmatter
const unsortedPosts = await Astro.glob("../data/blog-posts/*.md");
const posts = unsortedPosts.sort(function (a, b) {
	return new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf();
});
---

<BaseLayout {title} {description}>
	<div class="container">
		<div class="row justify-content-center">
			<div class="d-flex flex-column align-items-center col-12 col-lg-10 col-xl-8">
				<h1 class="mb-5 text-center">Blog</h1>
				<p class="fs-2 text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </p>
				<p class="singleBlogTags mb-6r text-center"><a href="#0">#css</a> <a href="#0">#php</a> <a href="#0">#javascript</a></p>
			</div>
			<section aria-label="Blog post list" class="col-12 col-lg-10 col-xl-8 mb-5">
				{posts.map((post) => <BlogPostPreview data={post} />)}
			</section>
		</div>
	</div>
</BaseLayout>

<style lang="scss">
	h1 {
		text-align: center;
		text-transform: uppercase;
		line-height: 1;
		margin-bottom: 3rem;
		padding-right: 1rem;
		padding-left: 1rem;
		width: max-content;
		box-shadow: inset 0 -0.5em 0 #868b9f;
	}

	.singleBlogTags a {
		text-decoration-style: none;

		&:hover {
			text-decoration-style: underline;
		}
	}
</style>
