---
import BaseLayout from "@layouts/BaseLayout.astro";
import BlogPosts from "@components/homepage/homepageBlogPosts.astro";
import Portfolio from "@components/homepage/homepagePortfolioProjects.astro";
import Intro from "@components/homepage/homepageIntro.astro";

---

<BaseLayout>
	<div class="container">
		<div class="row justify-content-center">
			<Intro />
			<BlogPosts />
			<Portfolio />
		</div>
	</div>
</BaseLayout>

