---
import BaseLayout from "@layouts/BaseLayout.astro";
import BlogPostPreview from "@components/BlogPostPreview.astro";

let description = "Hi. I'm Peter Morgan. Welcome to my small corner of the internet.";

const unsortedPosts = await Astro.glob("../data/blog-posts/*.md");
const posts = unsortedPosts.sort(function (a, b) {
	return new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf();
});
const firstThreePosts = posts.slice(0, 3);
---

<BaseLayout {description}>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 col-lg-10 col-xl-8">
				<h1 class="mb-5">Peter Morgan</h1>
			</div>
		</div>
		<div class="row justify-content-center">
			<section aria-label="Blog post list" class="col-12 col-lg-10 col-xl-8">
				<h2 class="mb-3">Blog</h2>
				{firstThreePosts.map((post) => <BlogPostPreview data={post} />)}
			</section>
		</div>
	</div>
</BaseLayout>

<style>

</style>
