---
import ContactLinks from "@data/contact-links.json";
const iconsDirectoryBase = "/components/contact-icons/";
---

<a href={ContactLinks.github.url}>
	<img
		src={iconsDirectoryBase + ContactLinks.github.image}
		alt="GitHub icon"
		width="62"
		height="62"
	/>
</a>
<a href={ContactLinks.linkedin.url}>
	<img
		src={iconsDirectoryBase + ContactLinks.linkedin.image}
		alt="LinkedIn icon"
		width="62"
		height="62"
	/>
</a>
<a href={ContactLinks.email.url}>
	<img
		src={iconsDirectoryBase + ContactLinks.email.image}
		alt="Envelope (Email) icon"
		width="62"
		height="62"
	/>
</a>

<style lang="scss">
	a {
		display: inline-block;

		&:not(:first-of-type) {
			margin-left: 0.75rem;
		}
	}

	img {
		width: 36px;
	}
</style>
