---
import ContactLinks from "@data/global/contact-links.json";
const iconDimension = "62";
const iconDirectoryBase = "/images/components/contact-icons/";
const { mode } = Astro.props;
---

{
	ContactLinks.map((contactLink) => (
		<a href={contactLink.url}>
			<img src={iconDirectoryBase + contactLink.image[mode]} alt={contactLink.image.altText} width={iconDimension} height={iconDimension} />
		</a>
	))
}


<style lang="scss">
	a {
		display: inline-block;

		&:not(:first-of-type) {
			margin-left: 0.75rem;
		}
	}

	img {
		width: 36px;
	}
</style>
