---
import { getCollection } from "astro:content";
const unsortedLinks = await getCollection("contact-links");

const sortedLinks = unsortedLinks.sort((a, b) => a.data.order - b.data.order).slice(0, 3);

const iconDimension = "62";
const iconDirectoryBase = "/images/components/contact-icons/";

export interface Props {
	mode: string;
	lazy?: boolean;
}
const { mode, lazy } = Astro.props;
---

{
	sortedLinks.map((contactLink) => (
		<a href={contactLink.data.url}>
			<img src={iconDirectoryBase + contactLink.data.image[mode]} alt={contactLink.data.image.altText} width={iconDimension} height={iconDimension} loading={lazy ? "lazy" : "eager"} />
		</a>
	))
}

<style>
	a {
		display: inline-block;
	}

	a:not(:first-of-type) {
		margin-left: 0.75rem;
	}

	img {
		width: 31px;
	}
</style>
