---
import ContactIcons from "@components/ContactIcons.astro";
---

<footer>
	<div class="bg-blue">
		<div class="container">
			<h2>Contact Me</h2>
			<p>You can contact me by clicking on the icons below. I will respond - assuming you're not soliciting or spamming me - as soon as I can.</p>

			<div>
				<ContactIcons mode="light" lazy={true} />
			</div>
		</div>
	</div>
</footer>

<style>
	footer {
		color: white;
		margin-top: auto;
	}

	p {
		margin-bottom: 1.5rem;
	}

	.bg-blue {
		margin-top: var(--margin-lots);
	}

	.container {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}
</style>
