---
import ContactIcons from "@components/ContactIcons.astro";
---

<footer>
	<div class="bg-blue">
		<div class="footer-container container">
			<div class="row justify-content-center">
				<div class="col-12 col-lg-10 col-xl-8">
					<h2>Contact Me</h2>
					<p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel.</p>
					<ContactIcons mode="light" />
				</div>
			</div>
		</div>
	</div>
</footer>

<style>
	footer {
		margin-top: auto;
	}

	.bg-blue {
		margin-top: 6rem;
	}

	.footer-container {
		padding-top: 2rem;
		padding-bottom: 2rem;
		color: white;
	}

	h2 {
		font-size: 2rem;
		font-weight: 600;
	}
</style>