---
import ContactIcons from "@components/ContactIcons.astro";
---

<footer>
	<div class="bg-blue">
		<div class="footer-container container">
			<h2>Contact Me</h2>
			<p>You can contact me by clicking on the icons below. I will respond - assuming you're not soliciting or spamming me - as soon as I can.</p>
			<ContactIcons mode="light" lazy={true} />
		</div>
	</div>
</footer>

<style>
	footer {
		margin-top: auto;
	}

	.bg-blue {
		margin-top: 6rem;
		color: white;
	}

	.footer-container {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}

	h2 {
		margin-top: 0;
	}

	p {
		margin-bottom: 1.5rem;
	}
</style>
