---
import HeaderMenu from "@data/header-menu.json";
const wordmark = "/images/components/header/wordmark-circle-rotated-transparency-173x173px.png";
const currentPath = Astro.url.pathname;
---

<header class="bg-blue">
	<div class="container header-container">
		<div class="row justify-content-center">
			<div class="col-12 col-lg-10 col-xl-8 d-flex flex-column flex-sm-row justify-content-between align-items-center">
				<a href="/" class="mb-4 mb-sm-0">
					<img src={wordmark} alt="Word mark: Letters PM inside a circle." width="173" height="173">
				</a>
				<ul>
					{
						HeaderMenu.map((menuItem) => (
							<li>
								<a href={menuItem.url} class={`${currentPath === menuItem.url ? "current-page" : ""}`}>{menuItem.text}</a>
							</li>
						))
					}
				</ul>
			</div>
		</div>
	</div>
</header>

<style lang="scss">
@import "../styles/base/_variables.scss";

	header {
		box-shadow: 0 1rem 2rem .1rem rgba(black, 0.1);
		margin-bottom: 6rem;
	}

	.header-container {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}

	img {
		width: 64px;
	}

	ul {
		list-style: none;
		margin-bottom: 0;
		margin-left: 0;
		padding-left: 0;
	}

	li {
		display: inline;
		margin-left: 0;
		font-size: 1.25rem;

		&:not(:first-of-type) {
			margin-left: 1.25rem;
		}
	}

	a {
		color: white;
		text-decoration: none;

		&:hover {
			color: white;
			text-decoration: underline;
		}
	}

	.current-page {
		font-weight: $fw-bold;
	}
</style>
