---
import HeaderMenu from "@data/header-menu.json";
---

<header class="container">
	<div class="row justify-content-center">
		<div class="col-12 col-lg-8 col-xl-6 my-4">
			<ul>
				{HeaderMenu.map((menuItem) => (
					<li>
						<a href={menuItem.url}>{menuItem.text}</a>
					</li>
				))}
			</ul>
		</div>
	</div>
</header>

<style lang="scss">
	ul {
		list-style: none;
		margin-bottom: 0;
		margin-left: 0;
		padding-left: 0;
	}


	li {
		display: inline;
		margin-left: 0;
		font-size: 1.25rem;

		&:not(:first-of-type) {
			margin-left: 1.25rem;
		}
	}
</style>
