---
import NavMenu from "./header/NavMenu.astro";
import WordmarkLink from "./header/WordmarkLink.astro";
---

<header class="bg-blue">
	<div class="container">
		<WordmarkLink class="wordmarklink-spacing" />

		<NavMenu />
	</div>
</header>

<style>
	div {
		align-items: center;
		padding-top: 2rem;
		padding-bottom: 2rem;
	}

	@media screen and (min-width: 768px) {
		div {
			flex-direction: row;
			justify-content: space-between;
		}
	}

	header {
		box-shadow: 0 1rem 2rem 0.1rem rgba(0, 0, 0, 0.1);
		margin-bottom: var(--margin-lots);
	}

	.wordmarklink-spacing {
		margin-bottom: 1.5rem;
	}

	@media screen and (min-width: 768px) {
		.wordmarklink-spacing {
			margin-bottom: 0;
		}
	}
</style>
