---
import HeaderMenu from "@data/header-menu.json";
const currentPath = new URL(Astro.request.url).pathname;

---

<header class="bg-blue">
	<div class="container header-container">
		<div class="row justify-content-center">
			<div class="col-12 col-lg-8 col-xl-6 d-flex flex-column">
				<ul>
					{
						HeaderMenu.map((menuItem) => (
							<li>
								<a href={menuItem.url} class={`${currentPath === menuItem.url ? "fw-bold" : ""}`}>{menuItem.text}</a>
							</li>
						))
					}
				</ul>
			</div>
		</div>
	</div>
</header>

<style lang="scss">
	header {
		box-shadow: 0 1rem 2rem .1rem rgba(black, 0.1);
		margin-bottom: 2rem;
	}

	.header-container {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}

	ul {
		align-self: flex-end;
		list-style: none;
		margin-bottom: 0;
		margin-left: 0;
		padding-left: 0;
	}

	li {
		display: inline;
		margin-left: 0;
		font-size: 1.25rem;

		&:not(:first-of-type) {
			margin-left: 1.25rem;
		}
	}

	a {
		color: white;

		&:hover {
			color: white;
		}
	}
</style>
