---
import HeaderMenu from "@data/global/header-menu.json";
const wordmark = "/images/components/header/wordmark-circle-rotated-transparency-173x173px.png";
const currentPath = Astro.url.pathname;
---

<header class="bg-blue">
	<div class="container">
		<a href="/" class="wordmark-link">
			<img src={wordmark} alt="Word mark: Letters PM inside a circle." width="173" height="173" />
		</a>
		<ul>
			{
				HeaderMenu.map((menuItem) => (
					<li>
						<a
							class:list={[
								{
									"current-page": currentPath === menuItem.url,
								},
							]}
							href={menuItem.url}>
							{menuItem.text}
						</a>
					</li>
				))
			}
		</ul>
	</div>
</header>

<style>
	a {
		color: white;
		text-decoration: none;
	}

	a:hover {
		color: white;
		text-decoration: underline;
	}

	div {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-top: 2rem;
		padding-bottom: 2rem;
	}

	@media screen and (min-width: 768px) {
		div {
			flex-direction: row;
		}
	}

	header {
		box-shadow: 0 1rem 2rem 0.1rem rgba(0, 0, 0, 0.1);
		margin-bottom: var(--margin-lots);
	}

	img {
		width: 64px;
	}

	li {
		display: inline;
		margin-left: 0;
		font-size: 1.25rem;
	}

	li:not(:first-of-type) {
		margin-left: 1.25rem;
	}

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
	}

	.current-page {
		font-weight: var(--fw-bold);
	}

	.wordmark-link {
		margin-bottom: 1.5rem;
	}

	@media screen and (min-width: 768px) {
		.wordmark-link {
			margin-bottom: 0;
		}
	}
</style>
