---
import type { HTMLAttributes } from "astro/types";
type Props = HTMLAttributes<"a">;

const { href, ...attrs } = Astro.props;
---

<a href={href} {...attrs}>
	<slot />
</a>

<style>
	a {
		border: var(--line-thickness) solid var(--color-body);
		display: inline-block;
		padding: 0.5rem 0.75rem;
		text-decoration: none;
		text-transform: uppercase;
	}

	@media screen and (min-width: 576px) {
		a {
			padding: 0.75rem 1.5rem;
		}
	}

	a:focus,
	a:hover {
		background-color: var(--color-blue);
		border: var(--line-thickness) solid var(--color-blue);
		color: white;
	}
</style>
