---
const { tags, align } = Astro.props;
const tagsSorted = tags ? tags.sort() : [];
const ulAlignment = align ? align : "start";
---

<ul class={`text-${ulAlignment}`}>
	{
		tagsSorted.map((tag: String) => (
			<li>
				<a href={`/tag/${tag}/`}>#{tag}</a>
			</li>
		))
	}
</ul>

<style>
	li {
		display: block;
	}

	@media screen and (min-width: 576px) {
		li {
			display: inline-block;
		}

		li:not(:first-child) {
			margin-left: 1rem;
		}
	}

	ul {
		margin-bottom: 0;
		padding-left: 0;
	}
</style>
