---
export interface Props {
	centered?: boolean;
	tags: string[];
}

const { centered, tags } = Astro.props;
---

<ul class:list={[{ "center-items": centered }]}>
	{
		tags.sort().map((tag) => (
			<li>
				<a href={`/tag/${tag}/`}>#{tag}</a>
			</li>
		))
	}
</ul>

<style>
	ul {
		column-gap: 1rem;
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		margin-bottom: 0;
		padding-left: 0;
		row-gap: 0.25rem;
		width: 100%;
	}

	.center-items {
		justify-content: center;
	}
</style>
