---
const { tags, align } = Astro.props;
const tagsSorted = tags ? tags.sort() : [];
const ulAlignment = align ? align : "start";
---

<ul class={`text-${ulAlignment}`}>
	{
		tagsSorted.map((tag: String) => (
			<li>
				<a href={`/tag/${tag}/`}>#{tag}</a>
			</li>
		))
	}
</ul>

<style lang="scss">
	@import "../../styles/base/_variables.scss";

	ul {
		margin-bottom: 0;
		padding-left: 0;
	}

	li {
		display: block;

		@media screen and (min-width: $breakpoint-sm) {
			display: inline;
		}

		&:not(:first-child) {
			@media screen and (min-width: $breakpoint-sm) {
				margin-left: 1rem;
			}
		}
	}
</style>
