---
export interface Props {
	align?: string;
	tags: string[];
}

const { align, tags } = Astro.props;
---

<ul class:list={[align ? `text-${align}` : "text-start"]}>
	{
		tags.sort().map((tag: string) => (
			<li>
				<a href={`/tag/${tag}/`}>#{tag}</a>
			</li>
		))
	}
</ul>

<style>
	li {
		display: block;
	}

	@media screen and (min-width: 576px) {
		li {
			display: inline-block;
		}

		li:not(:first-child) {
			margin-left: 1rem;
		}
	}

	ul {
		margin-bottom: 0;
		padding-left: 0;
	}
</style>
