.singleBlogContent {
	h2 {
		font-weight: $fw-bold;
		margin-bottom: 1rem;
	}

	span[title] {
		text-decoration-line: underline;
		text-decoration-style: dotted;
		text-decoration-thickness: $line-thickness;
		text-underline-position: under;

		&:hover {
			cursor: help;
		}
	}
}
