.container {
	display: flex;
	flex-wrap: wrap;
	margin-right: auto;
	margin-left: auto;
	padding-right: 0.75rem;
	padding-left: 0.75rem;
	width: 100%;

	@media screen and (min-width: $breakpoint-md) {
		width: 744px;
	}
}